:root{
    --main-font: 'Anton', sans-serif;
    --section-padding:100px;
    --text-color:#0a58ca;
    --par-color: #343a40;
}

html{
   scroll-behavior: smooth;
}


body{
    font-family: 'Libre Baskerville', serif;
    margin:0;
    padding:0;
    width:100%;
    position: relative;
    overflow-x:hidden;
  
  
}
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing:border-box;
    padding:0;
    margin:0;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.navbar{
    width: 100%;
    position: absolute;
    background-color: transparent;
    
}
.navbar ul li {
    list-style: none;
    font-family: 'Libre Baskerville';
    font-weight: bold;
    color: #f8f9fa;
    /* gap: 45px; */
    /* display: flex; */
    padding-right: 79px;
    padding-top: 22px;
    letter-spacing: 2px;
}
.navbar ul li a{
    color:white;
}
.landing{
    display: flex;
  height:750px;
    background-image: url(../images/f68ae004-d2e3-4fe6-8636-2e290dd689db.jpg);
     background-size: cover;
     
}
header .logo{
    font-family: var(--main-font);
    color: #edaab1;
    position: absolute;
    margin-top: 34px;
    margin-left: 92px;
    font-size: 22px;
}
.landing .container{
    padding-top:var(--section-padding);
    padding-bottom: var(--section-padding);
}
.landing .container .main-text{
   display: flex;
   flex-direction: column;
   position:relative;
   left:541px;
   top:122px;
}
.landing .container .main-text h1{
  
    color: #006f8a;
    font-size: 6rem;
    font-family: var(--main-font);
    letter-spacing: 5px;
     animation:tada; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 5s; /* don't forget to set a duration! */
}
.landing .container .main-text span{
        padding-top: 20px;
    font-size: 1.5rem;
    color: #edaab1;

}
 .hireme{
    border: transparent;
    margin-top: 30px;
    width: 300px;
    height: 55px;
    border-radius: 30px;
    background: #b8e9f0;
    display: flex;
    justify-content:center;
    align-items:center;
    color:var(--text-color);
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.landing .container .hireme:hover{
animation: animate__pulse;
}
.whoamI{
        background-color: #ffefd2;
}
.whoamI .container{
    padding-top:var(--section-padding);
    padding-bottom: var(--section-padding);
    display: flex;
}
.whoamI .container .photo{
    margin-left: 100px;
    margin-top: 51px;

}
.whoamI .container .photo img{
    width:250px;
    height:250px;
    border-radius: 50%;

}
.whoamI .aboutme{
    display: flex;
    flex-direction: column;
    width: 500px;
    margin-top:52px;
}
.whoamI .aboutme h1{
    padding-bottom: 17px;
    font-size: 37px;
    font-family: var(--main-font);
    letter-spacing: 10px;
    color:var(--text-color);

}
.whoamI .aboutme p{
    line-height: 35px;
    font-size: 18px;
    letter-spacing: 1px;
    color: var(--par-color);
}
@media(max-width:767px){
    .whoamI .container{
        display: flex;
            flex-direction: column;
    }
    .whoamI .aboutme{
     display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    }
    .whoamI .aboutme p{
        width: 24rem;
        text-align: center;
    }
    .landing{
     width: 100%;
    background-repeat: no-repeat;
    }
    .landing .container .main-text{
        position: static;
    }
    .landing .container .main-text h1{
        color:#dee2e6;
        font-size:5.5rem;
    }
    .whoamI .container .photo{
        margin:auto;
    }
    .navbar{
    text-align: center;
    }
   .navbar:hover ul{
    background-color:#006f8a;
   }
   header .logo{
        margin-top: 15px;
    margin-left: 248px;
   }
   .navbar ul{
        z-index: 1;
    position: absolute;
    width: 100%;
   }
}
@media (max-width:992px) {
    .navbar ul{
        display: none;

    }
      .navbar:hover ul{
     display: flex;
     background-color: #006f8a;
   }

}
.skills{
    background: #e0f9fe;
}
.skills .container{
    padding-top:var(--section-padding);
    padding-bottom:var(--section-padding);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 62px;

}
.skills .container .skill-con img{
 width: 115px;
}

.skills .container .skill-con{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 49px;
    row-gap:141px;

}
.skills .container h1{
     padding-bottom: 17px;
    font-size: 53px;
    font-family: var(--main-font);
    letter-spacing: 10px;
    color: var(--text-color);
}
.skills button{
    width: 310px;
    height: 60px;
    background: #0dcaf0;
}
.download i{
        font-size: 19px;
}
.projects .container{
    padding-top:var(--section-padding);
    padding-bottom:var(--section-padding);
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    gap: 46px;
}
.projects .container h1{
    padding-bottom: 17px;
    font-size: 53px;
    font-family: var(--main-font);
    letter-spacing: 10px;
    color: var(--text-color);
}
.education .container{
    padding-top:var(--section-padding);
    padding-bottom:var(--section-padding);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.education{
        background: #e0f9fe;
}
.education .container h1{
     padding-bottom: 50px;
    font-size: 53px;
    font-family: var(--main-font);
    letter-spacing: 10px;
    color: var(--text-color);
}
.grad{
    position: absolute;
    /* left: 178px; */
    /* bottom: 14px; */
    margin-top: -5px;
    margin-left: -49px;
    font-size: 37px;
    color: #0a58ca;
}
.education .container h3{
    font-family: serif;
    letter-spacing: 1px;
}
.education .container.edu-text{
        margin-top: 45px;
}
.contact{
    
    padding-bottom: 180px;

}
.contact .container .con{
    display: flex;
    justify-content: space-evenly;
    gap: 242px;
}
@media(max-width:767px){
    .contact .container .con{
        display: flex;
        flex-direction: column;
         gap: 95px;

    }
}
.contact .container{
    padding-top:var(--section-padding);
    padding-bottom: var(--section-padding);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
form{
    display: flex;
    flex-direction: column;
    gap: 21px;

}
.contact h1{
    padding-bottom: 81px;
    font-size: 53px;
    font-family: var(--main-font);
    letter-spacing: 10px;
    color: var(--text-color);

}
.contact .msg h2{
        margin-top: -15px;
    padding-bottom: 20px;
        color: #ffccd1;

}
input{
    border-radius: 23px;
    height: 44px;
}
textarea{
    border-radius: 35px;
    height: 137px;
}
.contact .container .con .social i{
        font-size: 19px;
      color: #0a58ca;

}
.contact .con .social{
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    gap: 45px;
    margin-top: 64px;
}
footer{
   position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
       background: #0a58ca;
    height: auto;
    width: 100vw;
    padding-top: 40px;
    color: #fff;
    margin-top:100px;
}
.footer-content{
   display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
footer .footer-content h3{
    font-family: var(--main-font);
    letter-spacing: 2px;
    padding-top: 20px;
}

.footer-content .socials{
    display: flex;
    gap: 29px;
    font-size: 20px;
    padding:40px;
}
.footer-content .socials i{
    color:white;
}
@media (max-width:500px) {
.footer-menu ul{
  display: flex;
  margin-top: 10px;
  margin-bottom: 20px;
}
}
